@import url("https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;700;900&display=swap");

/* CSS Reset */

:root {
  --text-color: #505050;
  --text-soft: #696969;
  --primary: #8a6a4e;
  --primary-hover: #6b5039;
  --secondary: #f0f0f0;
  --tertiary: #bebebe;
  --max-width: 1100px;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fdf9f8;
  color: var(--text-color);
  font-size: 16px;
  font-family: "Mukta", serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vesper Libre", serif;
}

input,
textarea {
  font-family: "Mukta", serif;
  font-size: 80%;
}

a {
  text-decoration: unset;
  color: var(--text-color);
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

#navbar {
  width: 100%;
  height: 10%;
}

/* Header */

header .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header .logo a {
  font-size: 0;
}

header .cart-button {
  line-height: 0;
}

header nav .nav-wrap {
  display: flex;
  align-content: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  header .logo {
    justify-content: center;
  }
}

header {
  box-shadow: 0px 2px 15px 1px rgb(0 0 0 / 19%);
  padding: 0 30px;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
  height: 60px;
  overflow: hidden;
}

header .header-wrap {
  height: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}

header .mobile-nav {
  display: none;
}

header .logo img {
  width: auto;
  height: 35px;
}

header nav .nav-wrap {
  margin-top: 3px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 40px;
  font-size: var(--text-lg);
}

header .cart-button {
  text-align: right;
  position: relative;
}

header .cart-button svg {
  cursor: pointer;
  height: 35px;
  width: 35px;
}

.cart-count {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 14px;
  position: absolute;
  top: -5px;
  right: -5px;
}

header a {
  transition: 0.2s all;
}

header a:hover {
  color: var(--primary);
}

/* CSS for the modal */
.overlay {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal {
  display: block !important;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 20%);
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 999;
  transition: 0.3s all;
  max-width: 1000px;
  opacity: 0;
}

.modal-content {
  background-color: #fefefe;
  padding: 30px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.modal .modal-container {
  display: grid;
  grid-template-rows: 30px calc(100% - 97px) 66px;
  grid-auto-flow: column;
  height: 100%;
}

.modal .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.modal .modal-header .cart-title {
  line-height: 0;
  font-size: var(--text-2xl);
  font-weight: bold;
}

.modal .modal-header span.close {
  transition: .1s all;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--text-2xl);
}

.modal .modal-header span.close:hover {
  color: var(--primary);
}

.modal #cartItemsContainer {
  overflow: auto;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}

.modal .item-container {
  display: grid;
  grid-template-columns: calc(100% - 130px) 130px;
}

.modal .item-container .item-details {
  display: grid;
  grid-template-columns: 50px calc(100% - 50px);
}

.modal .item-container .item-details .item-image img {
  max-height: 100px;
}

.modal .item-container .item-details .item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
}

.modal .item-container .item-details .item .item-title {
  font-size: var(--text-lg);
  font-weight: bold;
}

.modal .item-container .item-details .item .item-description {
  display: flex;
  font-size: 70%;
  gap: 20px;
}

.modal .item-container .item-details .item p[class*="item-price"] {
  font-size: var(--text-lg);
  margin-top: 5px;
  color: mediumseagreen;
}

.modal .item-container .button-container {
  display: flex;
  gap: 30px;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: flex-end;
}

.modal .item-container .button-container .item-quantity {
  display: grid;
  height: 30px;
  grid-template-columns: 30px calc(100% - 60px) 30px;
}

.modal .item-container .button-container .item-quantity .minus,
.modal .item-container .button-container .item-quantity .plus {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  color: white;
  border-radius: 100%;
  opacity: .8;
  font-size: 80%;
  cursor: pointer;
  transition: .1s all;
}

.modal .item-container .button-container .item-quantity .value input {
  outline: none;
  border: none;
  text-align: center;
  height: 30px;
  width: 70px;
  font-size: var(--text-base);
}

.modal .item-container .button-container .item-quantity .minus:hover,
.modal .item-container .button-container .item-quantity .plus:hover {
  background: var(--primary-hover);
}

.modal .item-container .button-container .delete-container {
  cursor: pointer;
  color: indianred;
  transition: .2s all;
}

.modal .item-container .button-container .delete-container:hover {
  color: darkred;
}

.modal .item-container:not(:last-child) {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dfdfdf;
}

.modal .item-container:not(:first-child) {
  padding-top: 10px;
}

.modal #modal-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}


.modal #modal-footer .serving {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal #modal-footer .serving select {
  padding: 7px 10px;
  border-radius: 5px;
  background: var(--primary);
  color: white;
  border-right: 8px solid var(--primary);
}

.modal #modal-footer .checkout {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: flex-end;
}

.modal #modal-footer .checkout #total-price {
  font-weight: bold;
  font-size: var(--text-2xl);
  color: mediumseagreen;
}

.modal #modal-footer .checkout span {
  transition: .3s all;
  background: mediumseagreen;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 25px;
  cursor: pointer;
}

.modal #modal-footer .checkout span:hover {
  background: forestgreen;
}

.success-add {
  box-shadow: 0px 2px 15px 1px rgb(0 0 0 / 35%);
  transition: .3s all;
  display: block;
  position: fixed;
  top: -100px;
  z-index: 1000;
  background: mediumseagreen;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px;
  border-radius: 0 0 10px 10px;
  color: white;
}

/* Footer */

footer {
  padding: 0 30px;
  color: white;
  background: var(--primary);
}

footer .footer-wrap {
  max-width: var(--max-width);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 30px;
}

footer .left {
  text-align: left;
  padding: 60px 0;
}

footer .left h3 {
  font-size: var(--text-2xl);
  margin-bottom: 20px;
}

footer .left .location {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

footer .left .location p {
  display: grid;
  grid-template-columns: 35px calc(100% - 35px);
}

footer .left .location p i {
  line-height: 1.5;
}

footer .middle {
  background: var(--primary-hover);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 60px 30px;
}

footer .middle h2 {
  font-size: var(--text-3xl);
}

footer .middle .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
  margin-top: 10px;
}

footer .middle .social a {
  color: white;

  width: 40px;

  height: 40px;

  display: flex;

  border: 1px solid #ffffff57;

  align-items: center;

  justify-content: center;

  border-radius: 100%;

  transition: 0.3s all;
}

footer .middle .social a:hover {
  background: white;
  color: var(--primary);
}

footer .right {
  text-align: right;
  padding: 60px 0;
}

footer .right h3 {
  font-size: var(--text-2xl);
  margin-bottom: 20px;
}

footer .right .work-hours p {
  display: grid;
}

footer .right .work-hours {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

footer .right .work-hours p span:first-child {
  font-size: 90%;
}

/* Responsive */

@media screen and (max-width: 768px) {
  header {
    padding: 0;
  }

  header .header-wrap {
    padding: 0 30px;
    background: #fff;
  }

  header .mobile-nav {
    width: 30px;
    cursor: pointer;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  header .logo {
    text-align: center;
  }

  header nav {
    transition: 0.3s all;
    position: fixed;
    top: -50%;
    width: 100%;
    left: 0;
    background: #8a6a4e;
    z-index: -1;
  }

  header nav .nav-wrap a {
    padding: 10px 0;
    color: white;
  }

  header nav.show {
    top: 60px;
  }

  .modal .item-container {
    grid-template-columns: 1fr;
  }

  .modal .item-container .item-details .item .item-description {
    gap: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0 15px;
  }

  .modal .item-container .button-container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
    gap: 20px;
  }

  .modal .item-container .button-container .item-quantity {
    height: 25px;
  }

  .modal .item-container .button-container .item-quantity .minus,
  .modal .item-container .button-container .item-quantity .plus {
    font-size: 75%;
    height: 25px;
  }



  .modal .item-container .button-container .item-quantity .value input {
    width: 50px;
    height: 25px;
  }



  .modal #modal-footer {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .modal #modal-footer .checkout {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
  }

  .modal #modal-footer .checkout #total-price {
    font-size: var(--text-xl);
  }

  .modal #modal-footer .checkout span {
    padding: 5px 17px;
    font-size: 90%;
    height: auto;
  }

  .modal-content {
    padding: 25px;
  }

  .modal {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
  }

  .modal #modal-footer .serving p {
    display: none;
  }

  .modal #cartItemsContainer {
    margin: 10px 0;
  }
}